body{
    margin:0;
}
.card{
    background-color: #fca975;
    box-shadow: 0 4px 6px hsla(0,0%,0%, 0.4);
    border-radius: 15px;
    border: 1px solid #9e9e9e;
    width: 90%;
    height: 116px;
    min-width: 90%;
    position: relative;
    display: inline;
    margin: 1% 0 1% 0;
}




/*------Menu Cards------- */
.card-items{
    display: inline;
    position: relative;

}

.menu-item-image-container{
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: rgb(255, 242, 197)/*#9e9e9e*/;
    border-radius: 15px 0px 0px 15px;
    box-sizing: border-box;
    margin: 0;
}
.delete-icon{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 25%;
    left: 92%;
    border-radius: 15px;
}
.delete-icon:hover{
    cursor: pointer;
    background-color: rgb(199, 3, 3);
}

.item-name,
.quantity {
    position: absolute;
    font-size: 23px;
    margin-left: 10px;
    color: rgb(0, 96, 79);
    font-weight: bold;
}
.item-name{
 left: 21%;
}
.quantity{
    left: 21%;
    top: 40%;

}

.item-price{
    position: absolute;
    top: 40%;
    font-size: 23px;
    left: 62%;
    font-weight: bold;
}

.notes-text,
.total-text{
    font-size: 25px;
    color: rgb(0, 96, 79);
    font-weight: bold;
    margin-left: 5%;
}

.total-text{
    margin-top: 4%;
}

.notes-input {
    width: 70%; 
    margin: 0px auto; 
    display: block; 
    padding: 10px; 
    font-size: 18px;
    border: 1px solid #fca975; 
    border-radius: 8px; 
    box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.2);
    background-color: #fca975;
    color: rgb(0, 96, 79);
}

.notes-input::placeholder {
    color: rgb(0, 96, 79); /* Match the placeholder text color */
    opacity: 0.7; /* Slightly lighter to differentiate from user input */
}

.notes-input:focus {
    outline: none;
    border-color: rgb(0, 96, 79); /* Highlight the field with a subtle color when focused */
    box-shadow: 0 0 5px rgb(0, 96, 79); /* Add a light glow effect */
}