
.card-conta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-left: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    background-color: #fff;
    position: relative; 

    
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* to display only two items per row */
    gap: 20px; 
    padding: 20px;
  }
  
  
  .card-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .foodPic {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin-right: 75px;
    margin-left: 20px;
    object-fit: cover;
  }
  
  .card-det {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    
  }
  
  .item {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #00604F;
    margin-bottom: 80px;
  }
  .item-price{
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: #00604F;
    justify-content: space-between;
    padding: 0px;
    padding-left: 100px;
    margin : 5px;
  }
  .quantity {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
    padding-left: 90px;
    font-family: 'Poppins', sans-serif;
    margin-right: 19px;
 
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
   
    margin-left: 10px;
  }
  
  .quantity-control button {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .quantity-control button:hover {
    background-color: #bbb;
  }
  
  .quantity-control span {
    font-size: 1em;
    padding: 0 10px;
    
  }
  
 
  .add-to-cart {
    background-color: #ca6f00;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-size: 17px;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 75%;

  }
  
  .add-to-cart:hover {
    background-color: #7e591e;
  }
  
  .add-to-cart:active {
    background-color: #7e591e;
  }
  