.container-card{
    border: 1px solid #9e9e9e;
    box-shadow: 0 4px 6px hsla(0,0%,0%, 0.4);
    border-radius: 10px;
    width: 23vw;
    height: 40vh;
    margin: 15px 10px 10px 14px;
    display: inline-block;
    background-color: white;
}
.container-card:hover{
    cursor: pointer;
}

.description {
    position: relative;
    top:55%;
    padding-left: 5px;
    box-sizing: border-box;
    height: 45%;
    width: 100%;
    background-color:hsl(0, 0%, 86%);
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    font-family: Arial, sans-serif;

}
.description:hover{
    background-color:hsl(0, 0%, 90%);
}

.description p {
    margin: 8px 0;
    color: #333;
    font-size: 18px;
}

.description p:first-child {
    font-weight: bold;
    font-size: 20px;
}

.restArea{
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}