
.menu-container {
    width: 80%;
    margin: 50px auto;
    background-color: #bdbdbd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    color: #000000;
    text-align: left;
    margin-bottom: 20px;
}
