body{
    background-color: brown;
    break-inside: avoid;
}
.button{
    background-color: goldenrod;
    color: bisque;
    padding: "10px 20px";
    border-radius: "20px";
    border: "none";
    cursor: "pointer"
}
.choice-button1{
    position: relative;
    left: 46vw;
    top: 50vh;
}
.choice-button2{
    position: relative;
    right: 46vw;
    top: 50vh;
}