.container{
    position: relative;
    top: 8vh;
    left: 40vh;
    width: 63.2vw;
    background-color: rgb(0, 96, 79)/*#d9d8d8*/;
    border-radius: 30px;
    box-shadow: 0 4px 6px hsla(0,0%,0%, 0.4);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 0;
    padding-top: 1%;
    margin-bottom: 10%;
}

.orderPreview-text{
    
    color: rgb(255, 242, 197);
    font-size: 70px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    position: relative;

    bottom: 20px;
    margin: 0px 0px unset unset;
    
}

.empty-cart-message {
    font-size: 18px;
    margin-top: 20px; 
    text-align: center;
    color: rgb(255, 242, 197);
    font-weight: bold;
}

.submit-button,
.cancel-button{
    background-color: rgb(255, 242, 197);
    height: 97px;
    width: 29%;
    border: 1px solid #9e9e9e;
    position: relative;
    display: inline;
    box-shadow: 0 4px 6px hsla(0,0%,0%, 0.4);
    border-radius: 45px;
    color: rgb(0, 96, 79);
    font-size: 25px;
    font-weight: bold;
    text-wrap: pretty;
}

.cancel-button:hover,
.submit-button:hover{
    background-color: #e18256;
    cursor: pointer;
}

.cancel-button{
    margin: 4% 7% 0 0;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    
}

.submit-button{
    margin: 4% 0 0 7%;
}

.empty-cart-message{
    align-items: center;
    font-size: 30px;
    color: rgb(255, 242, 197);
}