.mainHeader{
    width: 100vw;
    height: 13vh;
    position: relative;
    top: 0vh;
    background-color: goldenrod;
  }
  .header-elements{
    position: relative;
    display:inline;  
  }
  .website-logo{
    width: 65px;
    height: 65px;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    left: 5%;
  }
  .header-icons{
    position: relative;
    right: 50px;
    width: 55px;
    height: 55px;
    left: 70%;
    top: 40%;
    transform: translateY(-50%);
  }
  .website-name{
    position: relative;
    bottom: 13%;
    left: 6%;
    font-size: 30px;
  }