body{
    background-color: aliceblue;
}

.signup-restaurant-page{
    justify-self: center;
    justify-content: center;
    align-items: center;
    height: 83vh;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
}

.error-message-res {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
  }



.wrapper-sr{
    text-align: center;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    position: relative;
    
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 500px;
    height: 77vh;
    }

.signin-text-sr{
    text-align: left;
    font-size: 12px;
    margin-bottom: 10px;
}

.signin-text-sr a {
    color: rgb(0, 96, 79);
    text-decoration: none;
    font-weight: bold;
}

.signin-text-sr a:hover {
    text-decoration: underline;
}

.input-group-sr {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    
}

.input-box-sr {
    position: relative;
    margin: 20px 0;
    flex: 1;
    top: 0px;
    right: 5px;
}

.input-box-sr input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

.input-box-sr label {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: 0.3s;
    color: #666;
}

.input-box-sr input:focus ~ label,
.input-box-sr input:valid ~ label {
    top: -15px;
    font-size: 12px;
    color: rgb(0, 96, 79);
}

.full-width {
    width: 100%;
}

.half-width {
    width: 48%;

}

.signup-button-sr {
    width: 100px;
    padding: 12px;
    background-color: rgb(0, 96, 79);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.signup-button-sr:hover {
    background-color: rgb(0, 80, 70);
}